* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E6E6FA;
}

/*slideshow css*/
.Slides {
    display: none;
}

/*img {
    vertical-align: middle;
}*/

.pictures {
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222222;
    background-color: #E6E6FA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.next:hover, .prev:hover {
    background-color: lightcoral;
}

  /* Number text (1/3 etc) */
.number {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: lightcoral;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*header css*/
header {
    /*display: block;*/
    text-align: center;
    background-color: #222222;
    color: lightcoral;
}

h1{
    padding: 3%;
    margin: 0 auto;
}

/*nav css*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: lightcoral;
}

img {
    width: 50%;
    margin-left: 20%;
}

/*home css*/
#aboutme {
    margin-top: 5px;
}

#infoImg {
    width: 40%;
    margin-left: 5%;
    margin-bottom: 10px;
}

aside{
    /*display: flex;
    flex-direction: column;*/
    position: absolute;
    width: 45%;
    top: 150%;
    left: 49%;
    padding-left: 10px;
    padding-right: 10px;
    /*margin-left: 10px;*/
    background-color: #222222;
    color: white;
    border-radius: 5px;
}

aside p {
    font-size: 17px;
}

#netball{
    /*display: flex;
    flex-direction: column;*/
    position: absolute;
    width: 45%;
    top: 30%;
    left: 48%;
    padding-left: 10px;
    padding-right: 10px;
    /*margin-left: 10px;*/
    background-color: #222222;
    color: white;
    border-radius: 5px;
}

#netballVid {
    position: relative;
    margin-left: 5%;

}

/*iframe {
    position: relative;
    margin-left: 5%;
    margin-bottom: 1%;
}*/

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    margin-top: 14px;
    margin-bottom: 10px;
    color: lightcoral;
}

/*resume css*/
#resumetitle h2{
    text-align: center;
    color: lightcoral;
}

#resumetitle {
    text-align: center;
}

#education {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 9%;
}

#eduheader {
    position: relative;
    margin-left: 10%;
    margin-top: 9%;
    border-radius: 30px 90px;
    background: lightcoral;
    width: 15%;
    padding:1%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#eduinfo {
    position: absolute;
    width: 55%;
    top: 32%;
    left: 38%;
    margin-top: 6%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#work {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 12%;
    margin-top: 10px;
}

#workinfo {
    position: absolute;
    width: 55%;
    top: 70%;
    left: 38%;
    margin-top: 11%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#workheader {
    position: relative;
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 30px 90px;
    background: lightcoral;
    width: 15%;
    padding:1%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#volunteer {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#volunteerinfo {
    position: absolute;
    width: 55%;
    top: 115%;
    left: 38%;
    margin-top: 19%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#volunteerheader {
    position: relative;
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 30px 90px;
    background: lightcoral;
    width: 15%;
    padding:1%;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*portfolio css*/
#portfoliotitle h2{
    text-align: center;
    color: lightcoral;
}

#portfoliotitle {
    text-align: center;
}

#portfolioOne {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 10px;
}

#bobaimg {
    position: relative;
    padding-top: 2%;
    display: flex;
    width: 20%;
    margin-left: 15%;
    transition: width 2s;
}

#bobaimg:hover{
    width:21%;
}

#designOne {
    position: absolute;
    width: 40%;
    top: 45%;
    left: 45%;
    margin-top: 6%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#portfolioFour {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 10px;
}

#foodtruckimg {
    position: relative;
    padding-top: 2%;
    width: 20%;
    margin-left: 15%;
    transition: width 2s;
}

#foodtruckimg:hover{
    width:21%;
}

#designTwo {
    position: absolute;
    width: 40%;
    top: 95%;
    left: 45%;
    margin-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#portfolioTwo {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 10px;
}

#superviseimg {
    position: relative;
    padding-top: 5%;
    width: 30%;
    margin-left: 10%;
    transition: width 2s;
}

#superviseimg:hover{
    width:31%;
}

#achievement1 {
    position: absolute;
    width: 40%;
    top: 138%;
    left: 45%;
    margin-top: 16%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#portfolioThree {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#unsuperviseimg {
    position: relative;
    padding-top: 5%;
    display: flex;
    width: 30%;
    margin-left: 10%;
    padding-bottom: 2%;
    transition: width 2s;
}

#unsuperviseimg:hover{
    width:31%;
}

#achievement2 {
    position: absolute;
    width: 40%;
    top: 178%;
    left: 45%;
    margin-top: 22%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

/*contact css*/
#contactInfo h2{
    text-align: center;
    color: lightcoral;
}

#contactInfo {
    text-align: center;
}

input[type=text], input[type=email] {
    width: 18%;
    background: lightgray;
}

input[type=submit] {
    padding: 10px;
    background-color: #222222;
    color: white;
}

input[type=submit]:hover {
    background-color: lightcoral;
}

textarea {
    background: lightgray;
    width: 9cm;
    height: 3cm;
}

#socialHeader {
    display: flex;
    justify-content: center;
}

#socialMedia {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

#twitterImg {
    width: 100%;
}

#youtubeImg {
    width: 100%;
}

#linkedin {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#linkedinBtn {
    background-color: #222222;
    color: white;
    padding: 10px;
}

#linkedinBtn:hover{
    background-color: lightcoral;
}

/*footer css*/
footer {
    text-align: center;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

@media screen and (max-width:400px) {
    #infoImg {
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-bottom: 1%;
    }

    aside {
        position: relative;
        width: 100%;
        left: 0;
        padding: 1%;
        text-align: center;
    }

    #netballVid{
        position: relative;
        margin-left: 0;
        margin-top: 6%;
    }

    iframe {
        width: 100%;
    }

    #netball {
        position: relative;
        width: 100%;
        left: 0;
        margin-bottom: 2%;
    }

    /*resume*/
    #education {
        width: 100%;
    }
    
    #eduheader {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    
    #eduinfo {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    
    #work {
        width: 100%;
    }
    
    #workheader {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    
    #workinfo {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    
    #volunteer {
        width: 100%;
    }
    
    #volunteerheader {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    
    #volunteerinfo {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
    }
        
    /*portfoilo*/
    #bobaimg {
        position: relative;
        width: 40%;
        margin-left: 30%;
    }
    
    #bobaimg:hover {
        width: 42%;
    }
    
    #designOne {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    
    #foodtruckimg {
        position: relative;
        width: 40%;
        margin-left: 30%;
    }
    
    #foodtruckimg:hover {
        width: 42%;
    }
    
    #designTwo {
        position: relative;
        width: 100%;
        margin-top: 5%;
        left: 0;
        margin-left: 0;
    }
    
    #superviseimg {
        position: relative;
        width: 90%;
        margin-left: 5%;
    }
    
    #superviseimg:hover {
        width: 92%;
    }
    
    #achievement1 {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 5%;
    }
    
    #unsuperviseimg {
        position: relative;
        width: 90%;
        margin-left: 5%;
    }
    
    #unsuperviseimg:hover {
        width: 92%;
    }
    
    #achievement2 {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 5%;
    }
    
    /*contact*/
    input[type=text], input[type=email] {
        width: 70%;
        background: lightgray;
    }
}

@media screen and (max-width: 768px) {
    /*home*/
    #infoImg {
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-bottom: 1%;
    }

    aside {
        position: relative;
        width: 100%;
        left: 0;
        padding: 1%;
        text-align: center;
    }

    #netballVid{
        position: relative;
        margin-left: 0;
        margin-top: 6%;
    }

    iframe {
        width: 100%;
    }

    #netball {
        position: relative;
        width: 100%;
        left: 0;
        margin-bottom: 2%;
    }

    /*resume*/
    #education {
        width: 100%;
    }

    #eduheader {
        position: relative;
        width: 100%;
        margin-left: 0;
    }

    #eduinfo {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    #work {
        width: 100%;
    }

    #workheader {
        position: relative;
        width: 100%;
        margin-left: 0;
    }

    #workinfo {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    #volunteer {
        width: 100%;
    }

    #volunteerheader {
        position: relative;
        width: 100%;
        margin-left: 0;
    }

    #volunteerinfo {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 10%;
    }
    
    /*portfoilo*/
    #bobaimg {
        position: relative;
        width: 40%;
        margin-left: 30%;
    }

    #bobaimg:hover {
        width: 42%;
    }

    #designOne {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    #foodtruckimg {
        position: relative;
        width: 40%;
        margin-left: 30%;
    }

    #foodtruckimg:hover {
        width: 42%;
    }

    #designTwo {
        position: relative;
        width: 100%;
        margin-top: 5%;
        left: 0;
        margin-left: 0;
    }

    #superviseimg {
        position: relative;
        width: 90%;
        margin-left: 5%;
    }

    #superviseimg:hover {
        width: 92%;
    }

    #achievement1 {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 5%;
    }

    #unsuperviseimg {
        position: relative;
        width: 90%;
        margin-left: 5%;
    }

    #unsuperviseimg:hover {
        width: 92%;
    }

    #achievement2 {
        position: relative;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 5%;
    }

    /*contact*/
    input[type=text], input[type=email] {
        width: 35%;
        background: lightgray;
    }
}

/* @media screen and (min-width:976px) { 
    #infoImg {
        width: 40%;
    }
    aside {
        position: absolute;
        top: 115%;
        
    }

    iframe {
        width: 42%;
    }

    #netball {
        width: 45%;
    }*/

    /*resume*/
    /*#volunteerheader {
        width: 18%;
    }*/

    /*portfoilo*/
    /*#designTwo {
        position: absolute;
        top: 97%;
    }

    #achievement1 {
        position: absolute;
        top: 140%;
    }

    #achievement2 {
        position: absolute;
        top: 181%;
    }
} */

