* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E6E6FA;
}

/*slideshow css*/
.Slides {
    display: none;
}

/*img {
    vertical-align: middle;
}*/

.pictures {
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222222;
    background-color: #E6E6FA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.next:hover, .prev:hover {
    background-color: lightcoral;
}

  /* Number text (1/3 etc) */
.number {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: lightcoral;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*header css*/
header {
    /*display: block;*/
    text-align: center;
    background-color: #222222;
    color: lightcoral;
}

h1{
    padding: 3%;
    margin: 0 auto;
}

/*nav css*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 8px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: lightcoral;
}

img {
    width: 50%;
    margin-left: 20%;
}

/*home css*/
#aboutme {
    margin-top: 5px;
}

#infoImg {
    width: 40%;
    margin-left: 5%;
    margin-bottom: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 45%;
    top: 145%;
    left: 49%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: #222222;
    color: white;
    border-radius: 5px;
}

aside p {
    font-size: 17px;
}

#netball{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 45%;
    top: 213%;
    left: 49%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: #222222;
    color: white;
    border-radius: 5px;
}

iframe {
    margin-left: 5%;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    margin-top: 14px;
    margin-bottom: 10px;
    color: lightcoral;
}

/*resume css*/
#resumetitle h2{
    text-align: center;
    color: lightcoral;
}

#resumetitle {
    text-align: center;
}

#education {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 9%;
}

#eduheader {
    margin-left: 10%;
    margin-top: 9%;
    border-radius: 30px 90px;
    background: lightcoral;
    width: 15%;
    padding:1%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#eduinfo {
    display: flex;
    flex-direction: column;
    width: 55%;
    top: 35%;
    left: 38%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#work {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 12%;
    margin-top: 10px;
}

#workinfo {
    display: flex;
    flex-direction: column;
    width: 55%;
    top: 83%;
    left: 38%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#workheader {
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 30px 90px;
    background: lightcoral;
    width: 15%;
    padding:1%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#volunteer {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#volunteerinfo {
    display: flex;
    flex-direction: column;
    width: 55%;
    top: 144%;
    left: 38%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#volunteerheader {
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 30px 90px;
    background: lightcoral;
    width: 15%;
    padding:1%;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*portfolio css*/
#portfoliotitle h2{
    text-align: center;
    color: lightcoral;
}

#portfoliotitle {
    text-align: center;
}

#portfolioOne {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 10px;
}

#bobaimg {
    padding-top: 2%;
    display: flex;
    width: 20%;
    margin-left: 15%;
    transition: width 2s;
}

#bobaimg:hover{
    width:21%;
}

#designOne {
    display: flex;
    flex-direction: column;
    width: 40%;
    top: 51%;
    left: 45%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#portfolioFour {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 10px;
}

#foodtruckimg {
    padding-top: 2%;
    display: flex;
    width: 20%;
    margin-left: 15%;
    transition: width 2s;
}

#foodtruckimg:hover{
    width:21%;
}

#designTwo {
    display: flex;
    flex-direction: column;
    width: 40%;
    top: 109%;
    left: 45%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#portfolioTwo {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 10px;
}

#superviseimg {
    padding-top: 5%;
    display: flex;
    width: 30%;
    margin-left: 10%;
    transition: width 2s;
}

#superviseimg:hover{
    width:31%;
}

#achievement1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    top: 163%;
    left: 45%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

#portfolioThree {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#unsuperviseimg {
    padding-top: 5%;
    display: flex;
    width: 30%;
    margin-left: 10%;
    padding-bottom: 2%;
    transition: width 2s;
}

#unsuperviseimg:hover{
    width:31%;
}

#achievement2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    top: 215%;
    left: 45%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #222222;
}

/*contact css*/
#contactInfo h2{
    text-align: center;
    color: lightcoral;
}

#contactInfo {
    text-align: center;
}

input[type=text], input[type=email] {
    width: 15%;
    background: lightgray;
}

input[type=submit] {
    padding: 10px;
    background-color: #222222;
    color: white;
}

input[type=submit]:hover {
    background-color: lightcoral;
}

textarea {
    background: lightgray;
    width: 9cm;
    height: 3cm;
}

#socialHeader {
    display: flex;
    justify-content: center;
}

#socialMedia {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

#twitterImg {
    width: 100%;
}

#youtubeImg {
    width: 100%;
}

#linkedin {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#linkedinBtn {
    background-color: #222222;
    color: white;
    padding: 10px;
}

#linkedinBtn:hover{
    background-color: lightcoral;
}

/*footer css*/
footer {
    text-align: center;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

/*Web 1920*/
@media screen and (min-width: 1920px) {
    li a {
        padding: 30px 8px;
        font-size: 30px;
    }

    .number {
        font-size: 20px;
    }

    .prev, .next {
        padding: 30px;
    }

    .dot {
        height: 25px;
        width: 25px;
    }

    /*about me*/
    aside{
        top: 133%;
        left: 49%;
    }

    aside p {
        font-size: 24px;
    }

    aside h4 {
        font-size: 30px;
    }

    iframe {
        width: 769px;
        height: 390px;
    }

    #netball{
        top: 196%;
        left: 49%;
    }

    #resumetitle h2{
        font-size: 40px;
    }
    
    #resumetitle {
        font-size: 30px;
    }

    #education {
        font-size: 30px;
        padding-bottom: 18%;
    }

    #eduheader {
        top: 80%;
    }
    
    #eduinfo {
        top: 46%;
    }
    
    #work {
        font-size: 25px;
        padding-bottom: 13%;
    }
    
    #workinfo {
        top: 90%;
    }
    
    #workheader {
        margin-left: 9%;
        margin-top: 16%;
        width: 19%;
    }
    
    #volunteer {
        font-size: 25px;
    }
    
    #volunteerinfo {
        top: 152%;
    }
    
    #volunteerheader {
        margin-left: 9%;
        width: 20%;
    }

    /*portfolio*/
    #portfoliotitle h2{
        font-size: 40px;
    }
    
    #portfoliotitle {
        font-size: 30px;
    }
    
    #portfolioOne {
        border: 2px solid black;
        border-radius: 5px;
        width: 100%;
        padding-bottom: 3%;
        margin-top: 10px;
    }
    
    #designOne {
        top: 59%;
    }
    
    #portfolioTwo {
        border: 2px solid black;
        border-radius: 5px;
        width: 100%;
        padding-bottom: 3%;
        margin-top: 10px;
    }
    
    #superviseimg {
        padding-top: 5%;
        display: flex;
        width: 30%;
        margin-left: 10%;
        transition: width 2s;
    }
    
    #superviseimg:hover{
        width:31%;
    }
    
    #achievement1 {
        top: 157%;
    }
    
    #achievement2 {
        top: 202%;
    }

    /*contact*/
    #contactInfo h2{
        font-size: 40px;
    }
    
    #contactInfo {
        font-size: 30px;
    }

    #contactInfo h4{
        font-size: 35px;
    }

    textarea {
        width: 11cm;
        height: 4cm;
    }

    #socialHeader {
        font-size: 30px;
    }

    #twitterImg {
        width: 100%;
    }
    
    #youtubeImg {
        width: 100%;
    }

    #linkedinBtn {
        padding: 20px;
        font-size: 20px;
    }*/

    /*footer*/
    footer {
        font-size: 25px;
    }
    
}

@media screen and (min-width: 1280px) {
    aside{
        top: 116%;
        left: 49%;
    }

    #netball{
        width: 35%;
        top: 180%;
        left: 56%;
    }

    #work {
        padding-bottom: 16%;
    }
    
    #workinfo {
        top: 76%;
    }
    
    #workheader {
        margin-left: 9%;
        margin-top: 16%;
        width: 19%;
    }
    
    #volunteer {
        font-size: 25px;
    }*/
    
    #volunteerinfo {
        top: 136%;
    }
    
    #volunteerheader {
        margin-left: 9%;
        width: 20%;
    }


}